.well {
    margin-left: 60px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

#day0 {
    clear: left;
}

#day1,
#day2 {
    margin-left: 120px;
}

.boldIt {
    font-weight: bold;
}

h1,
#locationField {
    margin: 20px;
    margin-left: 60px;
    text-align: center;
}

body {
    background-color: #BFD4FF;
}

#map-canvas {
    width: 1276px;
    height: 400px;
}